.figure {
  z-index: 2;

  &__blue {
    transform: rotate(45deg);
    flex-shrink: 0;
    border-radius: 158.5px;
    background: var(--bluegradient);
  }
  &__red {
    flex-shrink: 0;
    border-radius: 158.5px;
    background: var(--redgradient);
  }
  &__hero {
    object-fit: cover;
    border-radius: inherit;
  }
  &__info {
    background-color: var(--white);
    border-radius: 15px;
    font-size: 20px;
  }
  .members {
  }
  .hours {
  }
}
