.heroTitle {
  padding: 38px 0 26px 0;
  text-align: left;

  &__title {
    font-size: var(--title_size_2);
    font-weight: var(--text_weight_bold);
    padding-bottom: 25px;
  }
  &__text {
    padding: 0 0 24px 0;
    font-size: var(--text-size_2);
    font-weight: var(---text_weight_normal);
    line-height: 26px;
    color: var(--gray);
    letter-spacing: 1.5px;
  }
}
