.header {
  padding-top: 16px;
  &__container {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: var(--darkblue);
    font-family: var(--heading-font);
    font-size: var(--title_size_4);
    font-weight: var(--text_weight_extrabold);
    line-height: normal;
  } 
}
