@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

:root {
  // --------------------COLORS------------------------
  --bluegray: #666ca3;
  --darkblue: #13183f;
  --gray: #83869a;
  --pink: #ffa7c3;
  --white: #fff;
  --redgradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  --pinkgradient: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --bluegradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  --lightbluegradient: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);

  //-----------------------FONTS------------------------------
  --heading_font: Plus Jakarta Sans, sans-serif;
  // title size
  --title_size_1: 56px;
  --title_size_2: 40px;
  --title_size_3: 32px;
  --title_size_4: 28px;
  --title_size_5: 24px;

  // title weight
  --title_weight: 800;
  // title height
  --title_height: 40px;
  // text size
  --text-size_1: 18px;
  --text-size_2: 16px;
  // text weight
  --text_weight_normal: 500;
  --text_weight_bold: 700;
  // text height
  --text_height: 28px;
}

// ---------------STYLES-------------------

.App {
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--heading_font);
  padding: 0 auto;
  margin: 0 auto;
}

// heading default

// btn default

.btn {
  padding: 14px 31.5px;
  flex-shrink: 0;
  color: var(--white);
  font-size: var(--text-size_2);
  border: 0;
  &__darkblue {
    border-radius: 28px;
    background: var(--darkblue);
  }

  &__darkblue:hover {
    background: var(--bluegray);
  }

  &__redgradient {
    border-radius: 31.5px;
    background: var(--redgradient);
  }
  &__redgradient:hover {
    background: var(--pinkgradient);
  }
  &__bluegradient {
    border-radius: 28px;
    background: var(--bluegradient);
  }
  &__bluegradient:hover {
    background: var(--lightbluegradient);
  }
}
